@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.nav-item {
  border: 2px solid;
  border-radius: 2px;
  border-image: repeating-linear-gradient(
      135deg,
      #ff66ab 0 20px,
      #ff66ab 0 10px,
      #ff66ab 0 30px,
      #ff66ab 0 40px
    )
    8;
  -webkit-mask: conic-gradient(
        from 180deg at top 4px right 8px,
        #0000 90deg,
        #000 0
      )
      var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
    conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0
      var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: 0.1s, -webkit-mask-position 0.1s 0.1s;
}
.nav-item:hover {
  --_i: 100%;
  transition: 0.1s, -webkit-mask-size 0.1s 0.1s;
}
